OLDAP_API_URL={{ oldap_api_url }}
OLDAP_JWT_ISSUER={{ oldap_jwt_issuer }}
OLDAP_EXPORT_SERVICE_JWT_SECRET={{ oldap_export_service_jwt_secret | string | replace('$', '$$') | to_json }}
OLDAP_EXPORT_SERVICE_SUBJECT={{ oldap_export_service_subject }}
OLDAP_EXPORT_WORKER_ID={{ export_worker_id }}
OLDAP_EXPORT_POLL_SECONDS={{ export_worker_poll_seconds }}
OLDAP_EXPORT_HEARTBEAT_SECONDS={{ export_worker_heartbeat_seconds }}
OLDAP_EXPORT_LEASE_SECONDS={{ export_worker_lease_seconds }}
OLDAP_EXPORT_ROOT=/data/exports
MEDIA_DATA=/data/images
OLDAP_STORAGE_ABSOLUTE_RESERVE_BYTES={{ storage_absolute_reserve_bytes }}
