OLDAP_API_URL={{ oldap_api_url }}
OLDAP_JWT_ISSUER={{ oldap_jwt_issuer }}
OLDAP_IMPORT_SERVICE_JWT_SECRET={{ oldap_import_service_jwt_secret | string | replace('$', '$$') | to_json }}
OLDAP_IMPORT_SERVICE_SUBJECT={{ oldap_import_service_subject }}
OLDAP_INGEST_WORKER_ID={{ ingest_worker_id }}
OLDAP_INGEST_POLL_SECONDS={{ ingest_worker_poll_seconds }}
OLDAP_INGEST_HEARTBEAT_SECONDS={{ ingest_worker_heartbeat_seconds }}
OLDAP_INGEST_LEASE_SECONDS={{ ingest_worker_lease_seconds }}
OLDAP_INGEST_ROOT=/data/ingest
OLDAP_IMPORT_RECORDS_ROOT=/data/import-records
OLDAP_STORAGE_ABSOLUTE_RESERVE_BYTES={{ storage_absolute_reserve_bytes }}
