OLDAP_ACCESS_JWT_SECRET={{ oldap_access_jwt_secret | string | replace('$', '$$') | to_json }}
OLDAP_IMPORT_UPLOAD_JWT_SECRET={{ oldap_import_upload_jwt_secret | string | replace('$', '$$') | to_json }}
OLDAP_IMPORT_SERVICE_JWT_SECRET={{ oldap_import_service_jwt_secret | string | replace('$', '$$') | to_json }}
OLDAP_IMPORT_RECORDS_JWT_SECRET={{ oldap_import_records_jwt_secret | string | replace('$', '$$') | to_json }}
OLDAP_IMPORT_SERVICE_SUBJECT={{ oldap_import_service_subject }}
OLDAP_INGEST_ROOT=/data/ingest
OLDAP_IMPORT_RECORDS_ROOT=/data/import-records
