OLDAP_JWT_SECRET={{ oldap_jwt_secret }}
OLDAP_JWT_ISS={{ oldap_jwt_iss }}
OLDAP_API_URL={{ oldap_api_url }}
OLDAP_UNKNOWN_USERID={{ oldap_unknown_userid }}
OLDAP_UNKNOWN_PASSWORD={{ oldap_unknown_password }}
CORS_ORIGINS={{ cors_origins }}

MEDIA_DATA=/data/images
UPLOADER_IMGDIR=/data/images
