OLDAP_API_URL={{ oldap_api_url }}
OLDAP_JWT_ISSUER={{ oldap_jwt_issuer }}
OLDAP_MOBILE_MEDIA_SERVICE_JWT_SECRET={{ oldap_mobile_media_service_jwt_secret | default('') | string | replace('$', '$$') | to_json }}
OLDAP_MOBILE_UPLOAD_ROOT=/data/mobile-uploads
UPLOADER_IMGDIR=/data/images
OLDAP_STORAGE_ABSOLUTE_RESERVE_BYTES={{ storage_absolute_reserve_bytes }}
OLDAP_MOBILE_MAX_ORIGINAL_BYTES={{ mobile_max_original_bytes }}
OLDAP_MOBILE_CHUNK_BYTES={{ mobile_chunk_bytes }}
OLDAP_MOBILE_INACTIVITY_SECONDS={{ mobile_inactivity_seconds }}
OLDAP_MOBILE_LEASE_SECONDS={{ mobile_lease_seconds }}
OLDAP_MOBILE_MAX_ACTIVE_PER_USER={{ mobile_max_active_per_user }}
OLDAP_MOBILE_MAX_ACTIVE_PER_STAGING_AREA={{ mobile_max_active_per_staging_area }}
OLDAP_MOBILE_MAX_RESERVED_BYTES_PER_USER={{ mobile_max_reserved_bytes_per_user }}
OLDAP_MOBILE_MAX_RESERVED_BYTES_PER_STAGING_AREA={{ mobile_max_reserved_bytes_per_staging_area }}
OLDAP_MOBILE_MAX_PROCESSING_JOBS={{ mobile_max_processing_jobs }}
